/* Importar fuentes */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arkitech';
    src: url('./fonts/Arkitech Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Reset y variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009FE3;
    --bg-color: #000000;
}

/* Estilos base */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

/* Contenedor principal - optimizado para 1080x1920 */
.main-container {
    width: 1080px;
    height: 1920px;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 150px;
}

/* Sección gráfica */
.graphic-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 120px;
}

/* Línea vertical */
.line-container {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: calc(50vh + 75px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.line {
    width: 19px;
    height: 100%;
    background-color: var(--primary-color);
}

/* Contenedor de círculos */
.circles-container {
    position: relative;
    width: 580px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.circle-large,
.circle-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-large {
    width: 580px;
    height: 580px;
    z-index: 2;
}

.circle-small {
    width: 400px;
    height: 393px;
    z-index: 3;
}

/* Sección de texto */
.text-container {
    width: 100%;
    text-align: center;
    padding: 0 40px;
}

.text-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: var(--primary-color);
    margin-bottom: 0px;
    line-height: 1;
}

.text-title {
    font-family: 'Arkitech', sans-serif;
    font-weight: 500;
    font-size: 97px;
    color: var(--primary-color);
    line-height: 1;
}

/* Responsive para pantallas más pequeñas */
@media screen and (max-width: 1080px) {
    .main-container {
        width: 100vw;
        height: 100vh;
        padding-top: 8vh;
    }
    
    .graphic-section {
        margin-bottom: clamp(60px, 8vh, 120px);
    }
    
    .line-container {
        height: 54vh;
    }
    
    .line {
        width: clamp(12px, 1.8vw, 19px);
    }
    
    .circles-container {
        width: 50vw;
        height: 50vw;
        max-width: 580px;
        max-height: 580px;
    }
    
    .circle-large {
        width: 100%;
        height: 100%;
    }
    
    .circle-small {
        width: 69%;
        height: auto;
    }
    
    .text-subtitle {
        font-size: calc(70px * (100vw / 1080));
        margin-bottom: 0px;
        line-height: 1;
    }
    
    .text-title {
        font-size: calc(97px * (100vw / 1080));
        line-height: 1;
    }
}

@media screen and (min-width: 1081px) {
    .main-container {
        padding-top: 150px;
    }
    
    .line-container {
        height: calc(50vh + 75px);
    }
    
    .text-subtitle {
        font-size: 70px;
    }
    
    .text-title {
        font-size: 97px;
    }
}
